.Tile {
    height: 100px;
    width: 100px;
    border: solid black;
    box-shadow: 0 4px 8px 0 #aaa;
    transition: 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-size: 3em;
}

.Tile p {
    margin: 0
}

@media (max-width: 450px) {
    .Tile {
        font-size: 2em;
        height: 60px;
        width: 60px;
    }
}

.Tile:hover {
    box-shadow: 0 6px 12px 0 #aaa;
}

img {
    max-width: 100%;
}